/*#region RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/*#endregion */

/*#region NAVIGATION */

* {
  scroll-behavior: smooth;
}

/*#endregion */

/*#region COLOR */

:root {
  --color1: #d93b58;
  --color2: #cdd7de;
  --color3: #020c15;
  --color4: #f6f9f9;
  --color5: #e6f288;
  --color6: #e9ebeb;
}

/*#endregion */

/*#region FONT */

body,
button {
  color: var(--color3);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/*#endregion */

/*#region ARROW BUTONS */

a {
  margin: 2rem;
  width: 40px;
  height: 40px;
}

a > img {
  width: 40px;
}

a img:hover {
  transform: scale(1.05);
}

/*#endregion */

/*------------ SECTIONS -------------*/

/*#region POMODORO SECTION */

#section-1 {
  scroll-snap-align: start;
  background-color: var(--color4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  Nav
*/

nav {
  display: flex;
  height: 3.5rem;
  width: 96vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid var(--color6) 2px;
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: default;
}

.nav-logo > img {
  margin-left: 4vw;
  width: 25px;
}

.nav-logo > p {
  margin-left: 0.3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 1px 0 var(--color3);
}

.nav-divider {
  content: "";
  border-left: solid var(--color6) 2px;
  height: 3rem;
  align-self: flex-end;
}

/*
  Nav buttons
*/

.nav-buttons-container {
  display: flex;
  align-items: center;
}

.nav-how-button {
  margin-right: 1.5rem;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
  background-color: transparent;
  border: solid 2px var(--color3);
  border-radius: 2px;
  cursor: pointer;
  width: 6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color3);
  transition: background-color 0.3s ease-in;
}

.nav-how-button:hover {
  background-color: var(--color3);
  color: white;
}

.nav-menu-button {
  position: relative;
  margin-right: 4vw;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-menu-button > img {
  width: 25px;
}

.nav-menu-button > img:hover {
  transform: scale(1.08);
}

/*
  Menu
*/

.hidden {
  display: none;
}

.menu {
  width: 150px;
  height: 265px;
  background-color: var(--color4);
  border-radius: 0.3rem;
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0px;
  box-shadow: 2px 2px 20px 3px #020c1516;
  font-size: 1.8rem;
  padding: 1rem;
}

.menu > span {
  font-size: 0.6rem;
  font-weight: 700;
}

.focus-selection,
.break-selection {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.break-selection {
  margin-bottom: 1rem;
}

.focus-selection div,
.break-selection div {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1rem;
}

.focus-selection img,
.break-selection img {
  width: 18px;
}

.save {
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0.7rem 2.2rem;
  border: solid 2px var(--color3);
  border-radius: 2px;
  cursor: pointer;
  width: 6rem;
  transition: background-color 0.3s ease-in;
}

.save:hover {
  background-color: var(--color3);
  color: white;
}

/*
  Sounds
*/

.sounds {
  max-width: 1800px;
  position: relative;
  margin: 3rem 0;
  width: 82vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28vw;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  line-height: 4rem;
  text-shadow: 1px 0 var(--color3);
  white-space: nowrap;
}

.sounds span {
  position: absolute;
  left: 26vw;
  height: 50px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20vw;
  margin-bottom: 4rem;
  background-color: var(--color5);
  border: none;
  border-radius: 25px;
  cursor: default;
  transition: left 0.3s ease-in, background-color 0.3s ease-in;
}

.sounds span img {
  width: 80px;
  transition: filter 0.3s ease-in;
}

.sounds span:hover {
  left: 27vw;
  background-color: var(--color3);
}

.sounds span img:hover {
  filter: invert(1);
}

/*
  Sound Toggles
*/

.sound-toggles-container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.toggle-container {
  display: flex;
  flex-direction: column;
}

.switch {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 30px;
  background-color: #e7ecf0;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.switch:hover {
  background-color: var(--color2);
}

.switch::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--color4);
  left: 2.5px;
  top: 2.5px;
  transition: all 0.4s;
}

input[type="radio"]:checked + .switch::after {
  transform: translateX(55px);
}

input[type="radio"]:checked + .switch {
  background-color: var(--color1);
}

.offscreen {
  position: absolute;
  left: -999999px;
}

.toggle-container > p {
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
}

/*
  Pomodoro
*/

.pomodoro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#pomodoro-image-container {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.start {
  background-image: url("images/start.jpg");
}

.rain {
  background-image: url("images/rain.jpg");
}

.forest {
  background-image: url("images/forest.jpg");
}

.fireplace {
  background-image: url("images/fireplace.jpg");
}

.evening {
  background-image: url("images/evening.jpg");
}

.pomodoro-section {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pomodoro-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
}

/*
  Pomodoro timer
*/

.timer-container {
  display: flex;
}

.timer {
  margin-left: 3.5vw;
  width: 310px;
  height: 130px;
  background-color: var(--color3);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.timer span {
  font-size: 4rem;
  font-family: monospace;
  letter-spacing: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.timer span:nth-last-of-type(1),
.timer span:nth-last-of-type(3) {
  width: 80px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.8rem;
  margin-left: 1.2rem;
  gap: 1rem;
}

.pomodoro-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.pomodoro-button:last-of-type {
  width: 25px;
  height: 25px;
}

.pomodoro-button:hover {
  transform: scale(1.08);
}

/*
  Status display
*/

.status-display h1 {
  margin-top: 6vh;
}

/*
  Pomodoro rounds
*/

.round-display {
  display: flex;
  align-items: center;
  margin-top: 4vh;
}

.round-display > p {
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  margin-right: 1rem;
}

.rounds-container {
  display: flex;
}

.rounds-container div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 0.5rem;
  border: 1px solid var(--color3);
}

.round-completed {
  background-color: var(--color3);
}
.pomodoro-section a {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*#endregion */

/*#region TASKS SECTION */

#section-2 {
  background-color: var(--color4);
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
}

/*
  Tasks Sidebar
*/

.tasks-sidebar {
  width: 34vw;
  min-width: 200px;
  border-right: solid var(--color6) 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tasks-title {
  margin-top: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-sidebar button {
  margin-top: 3vw;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: var(--color5);
  font-size: 4rem;
  color: var(--color3);
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.tasks-sidebar button:hover {
  background-color: var(--color3);
  color: white;
}

.tasks-sidebar button:active {
  transform: scale(0.98);
}

/*
  Tasks Container
*/

.tasks-container {
  width: 100%;
  padding: 4.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2vw;
}

.task {
  padding: 2rem;
  border-radius: 0.2rem;
  border: solid var(--color6) 2px;
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-width: 200px;
}

.task div {
  display: flex;
}

.task button {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  border-radius: 50%;
  border: var(--color3) solid 2px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  display: none;
  transition: background-color 0.3s ease-in;
}

.task button:hover {
  background-color: var(--color3);
  color: white;
}

.task-description {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  word-break: break-word;
}

.task-description:focus {
  outline: none;
}

.task-description:empty::before {
  content: "To-do";
  color: var(--color2);
}

.task-checkbox {
  transform: scale(1.5);
  border: var(--color2);
  margin-right: 1rem;
  align-self: flex-start;
  margin-top: 0.4rem;
}

.task-completed {
  text-decoration: line-through;
}

/*#endregion */

/*#region ABOUT SECTION */

#section-3 {
  background-color: var(--color3);
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.about-container {
  width: 50vw;
  min-width: 650px;
  padding: 4vw 2vw;
  line-height: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 1px 0 var(--color3);
  white-space: nowrap;
}

h3 {
  font-size: 0.6rem;
  font-weight: 700;
  border: white 1px solid;
  padding: 0.01rem 0.4rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.about-container li {
  margin-left: 1.2rem;
}

.about-container p,
h3 {
  margin-left: 0.4rem;
}

.about-use h2 {
  padding-bottom: 1rem;
}

.about-works {
  margin-top: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.about-image-container {
  width: 50vw;
  height: 100%;
  background-image: url("images/about.jpg");
  background-size: cover;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: -50px center;
}

.about-image-container a > img {
  filter: invert(100%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

footer a {
  width: 25px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

/*#endregion */

/*---------- MEDIA QUERIES ----------*/

/*#region SMALL DESKTOP */

@media (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 0.6rem;
  }
  p,
  li {
    font-size: 0.7rem;
  }
  .about-works {
    gap: 0.5rem;
  }
  .sounds {
    margin: 1rem;
  }
  .timer-container {
    transform: scale(0.8);
  }
  .rounds-container div {
    transform: scale(0.7);
  }
  a {
    margin: 1rem;
  }
  a,
  a img {
    transform: scale(0.8);
  }
}

/*#endregion */

/*#region LAPTOP */

@media (max-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
  .sounds {
    gap: 14vw;
  }
  .sounds span {
    transform: scale(0.7);
  }
  .sound-toggles-container {
    transform: scale(0.8);
  }
  .timer-container {
    transform: scale(0.8);
  }
  .about-works {
    display: none;
  }
  .about-container {
    width: 95vw;
  }
  .about-use {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .about-image-container {
    width: 100%;
    height: 0;
    background-image: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #section-3 {
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 1.5rem;
  }
}

/*#endregion */

/*#region TABLET */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .sounds h1 {
    margin-left: 4rem;
  }
  .sounds {
    gap: 3vw;
    width: 100%;
    margin: 3vw;
  }
  .sound-toggles-container {
    flex-wrap: wrap;
    gap: 0.8vw;
  }
  .sounds span {
    display: none;
  }
  .timer-container {
    transform: scale(0.5);
  }
  .pomodoro-container {
    max-width: 50vw;
  }
  .pomodoro-image-container {
    background-image: url("images/f701c222-925d-41bc-8675-150be0885cb2_rw_1920.jpg");
    background-size: cover;
    background-position: 25% center;
  }
  #section-2 {
    flex-direction: column;
  }
  .tasks-sidebar {
    width: 100%;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8vw, 5vw;
  }

  .tasks-title {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }
  .tasks-title button {
    margin: 0;
    margin-left: 1rem;
    transform: scale(0.8);
  }
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-use {
    width: 90vw;
  }
}

/*#endregion */

/*#region MOBILE */

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  .sounds h1 {
    display: none;
  }
  .sound-toggles-container {
    gap: 1rem 2rem;
    transform: scale(0.9);
    max-width: 250px;
    justify-content: center;
  }
  .nav-logo img,
  .nav-logo p {
    transform: scale(0.8);
    margin: 0;
  }
  .nav-how-button {
    padding: 0.2rem 0.7rem;
    margin-right: 0.5rem;
  }
  .pomodoro {
    flex-direction: column;
  }
  .status-display h1,
  .round-display {
    margin-top: 0;
  }
  .round-display {
    margin-bottom: 3rem;
  }
  .pomodoro-container {
    margin-top: 7rem;
  }
  .timer-container {
    position: absolute;
    top: -6rem;
  }
  .pomodoro-section {
    min-height: 280px;
    padding-bottom: 2rem;
  }
  .tasks-title button {
    transform: scale(0.5);
    margin-left: 0.2rem;
  }
  .tasks-title h1 {
    font-size: 1.6rem;
  }
}

/*#endregion */
